@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Roboto+Mono:wght@500&display=swap');

.App {
  text-align: center;
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
  font-family: 'IBM Plex Mono', 'Consolas', Courier, monospace;
  font-weight: 200;
  font-size: 7em;
  margin: 0;
}

p {
  font-family: 'Roboto Mono';
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 580px) {
  div {
    font-size: 11vw;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 19rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25rem;
  height: 5rem;
}

.icons > a {
  opacity: 0.25;
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
}

.icons > a:hover {
  opacity: 1;
}