.alt-doc-display {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 0 2em 0;
}

.alt-doc-display-header {
    font-size: 2em;
    margin-bottom: 15px;
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 30px;
}

.alt-doc-description {
    width: 25vw;
}