@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

.full-page {
  width: 100vw;
  height: 100vh;
}

.docs-container {
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.alt-docs-container {
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

iframe {
  width: 45vw;
  height: 75vh;
  scrollbar-width: none;
  border-radius: 10px;
  border: 1px solid rgb(77, 77, 77);
  overflow: auto;
}

iframe::-webkit-scrollbar {
  display: none;
}

.alt-docs-container > iframe {
  width: 50vw;
}

body {
  background-color: #212121;
}

h2 {
  font-family: 'Roboto Flex', sans-serif;
  letter-spacing: 7px;
}